@media (min-width: 750px) {
    .title {
        text-align: center;
    }
    #map_canvas {
        height:300px;
        width:500px;
        left:-250px;
    }
    .labSpan, .valSpan {
        float: left;
        display: block;
        width: 47%;
        margin: 10px 2px;
    }

    .labSpan {
        text-align: right;
    }

    .valSpan:after {
        content: " "; /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }

    .input-group.date {
        width: 75%;
    }
}

@media (max-width:750px) {
    #main {
        padding:10px;
    }

     #map_canvas {
        height:300px;
        width:500px;
    }
    .buttons button {
        width:90%;
    }
}