body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 100%;
    height:100%;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}
